# EditorConfig 官方说明: http://EditorConfig.org

# 表示这是根目录，停止向上搜索
root = true

# 对所有文件生效
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# 对 Markdown 文件特殊处理
[*.md]
trim_trailing_whitespace = false
