/* ===== ebr-normal: Quicksand ===== */
@font-face {
  font-family: 'ebr-light';
  src: url('./Quicksand/Quicksand-Light.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'ebr-regular';
  src: url('./Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'ebr-medium';
  src: url('./Quicksand/Quicksand-Medium.ttf') format('truetype'); 
  font-display: fallback;
}
@font-face {
  font-family: 'ebr-semibold';
  src: url('./Quicksand/Quicksand-SemiBold.ttf') format('truetype'); 
  font-display: fallback;
}@font-face {
  font-family: 'ebr-bold';
  src: url('./Quicksand/Quicksand-Bold.ttf') format('truetype'); 
  font-display: fallback;
}

/* ===== ebr-number: Lato ===== */
@font-face {
  font-family: 'ebr-number-regular';
  src: url('./Lato/Lato-Regular.ttf') format('truetype');
  font-display: fallback;
}
@font-face {
  font-family: 'ebr-number-light';
  src: url('./Lato/Lato-Light.ttf') format('truetype'); 
  font-display: fallback;
}

/* ===== ebr-code: SpaceMono ===== */
