/* ===== ebr-normal: Quicksand ===== */
@font-face {
  font-family: "qs-light";
  src: url("./assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "qs-regular";
  src: url("./assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "qs-medium";
  src: url("./assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "qs-semibold";
  src: url("./assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "qs-bold";
  src: url("./assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
- 主题背景色，不需要在 table 中体现：#f5f5f5
- 可点击的文字颜色，如链接：#0dcaf0
- 可点击的文字辅助颜色，如链接悬浮：#0aa2c0
- 文字颜色：#483c32
- 表头行的背景色：#eaeaea
- 表格行的背景色：#ffffff
- 表格行上边框颜色：#dddddd
- 表格行悬停时的背景色：cyan-50

- Active: gray-200
- Grace: red-200
- Premium: yellow-200
- Released: green-200
- Available: green-200
*/

body {
  background-color: #f5f5f5;
  font-family: "qs-regular";
}
h1 {
  padding: 0 0.5rem;
}
h1 a {
  text-decoration: none;
}

/* ==== color model ==== */

body {
  color: #483c32;
  font-weight: 300;
}
a {
  color: #0dcaf0;
}
a:hover {
  color: #0aa2c0;
}
h1 a .title-ens {
  color: #483c32;
}
.error-boundary {
  color: indianred;
}
